@import 'bootstrap.min.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

@font-face {
    font-family: Futura Extra BoldBlack;
    src: url(../font/Futura_XBlk_BT.ttf);
}

$white: #fff;
$black: #1a1a1a;
$green: #43b77b;
$grey: #989898;
$screen-xs-max: 767px;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: 'Roboto';
  color: $black;
  font-size: 18px;

  a {
    color: $white;

    &:hover, &:focus {
      color: $white;
    }
  }
}

.container {
  width: 75%;
}

@media (max-width: $screen-xs-max) {
  .container {
    width: 90%;
  }
}

.m-t-exxlg {
  margin-top: 12rem!important;    
}

h1 {
  font-family: 'Futura Extra BoldBlack', sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  line-height: 70px;    
}

h2 {
  margin-top: 0;
  font-weight: 300;
  font-size: 24px;
}

nav {
  padding-bottom: 0px;

  .logo {
    position: absolute;
  }
  
  ul {
    list-style: none;      
  }
  
  li {
    display: inline;
  }

  a {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #fff;
    position: relative;
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow,transform;
    -webkit-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
  }

  a:hover {
    background-color: rgba(158,158,158,.2);      
  }

  .menu {
    text-align: right;      
  }
}


.hero {
  background: url('../img/bg.jpg');
  background-color: #0885CA;
  background-size: cover;
  padding-top: 40px;
  /*background-color: $black;*/
  overflow: hidden;
  min-height: 80vh;
  color: $white;

  .call-to-action {
    padding-top: 30px;

    input, .btn {
      margin: 7px 0;
      height: 50px;
      width: 100%;
      line-height: 50px;
      font-size: 16px;
      -webkit-appearance: none;
    }

    .btn {
      padding: 0;
    }
  }

  .first-email {
    padding-top: 13vh;
  }
  
  .phone-demo {
    margin-left: -8rem;      
  }
}

.btn {
  background-color: #222;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  overflow: hidden;
  color: #FFF;
  text-transform: uppercase;
  background-color: $green;
  color: $white;

  &:hover {
    background-color: darken($green, 10%);
    color: darken($white, 10%);
  }
}

.companies {
  .find-out {
    padding: 15px;
    text-transform: uppercase;
    color: $grey;
    font-weight: 300;
    font-size: 14px;
  }

  .company-logos {
    background: url('../img/company-logos.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10vh;
  }
}

.app {
  padding: 50px 20px 0;

  blockquote {
    margin: 80px 0 50px;
    font-size: 18px;
  }

  .showoff {
    background: url('../img/app.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    height: 460px;
    width: 100%;
  }
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

.footer {
  background-color: $black;
  padding: 100px 0;
  color: $white;

  .map {
    background: url('../img/map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 250px;
  }

  .love {
    color: $green;
    font-weight: 600;
  }

  .menu {
    padding: 40px 0;
    font-size: 14px;

    li {
      list-style-type: none;
      text-transform: uppercase;
    }
  }
}
