doctype html
html
  head
    title Driving School App - Brincou um pouco aprovado - Aplicativo Driving School
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='css/app.css')
    script(src='js/app.js')
  body
    .hero
      .container
        nav.row
          .col-md-12
            a.logo(href='/') Driving School

        .row
          .col-md-10
            h1 BRINCOU UM POUCO, APROVADO.
            h2 Seu estudo, sua dedicação e sua aprovação!

    .container
      .companies
        .row.text-center
          .find-out Descubra porquê essas pessoas estão tão felizes
        .row
          .company-logos

      .app
        .row
          .col-sm-7
            h3 AutoSchool para iOS, Android & Windows
            p
              | Jogue. Aprenda, ensine e compartilhe os seus conhecimentos e
              | dúvidas, pode ter certeza que alguém vai te ajudar.
              | Siga os conteúdos e acelere o processo de apredizagem.
              | Enquanto isso, faça simulados e avalie o seu desempenho.

            blockquote
              p É um aplicativo incrível...
              footer Manaia Junior
          .col-sm-5.text-center
            .showoff
            
      .feedback
        .row.call-to-action
          .col-md-5.col-sm-7
            input.form-control(type='email' placeholder='Seu email')
          .col-md-3.col-sm-5
            a.btn#get-a-lift(href='#') Receba as Novidades

    .footer
      .container
        .row
          .col-xs-5
            .map
          .col-xs-6.col-xs-offset-1
            h4 Construído para todos com
            h4.love atenção.

            ul.menu
              li
                a(href='#') Baixe
              li
                a(href='#') Sobre
              li
                a(href='#') Equipe
              li
                a(href='#') Contate-nos
